.wrapper {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  img {
    width: 100%;
    height: 283px;
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
  }

  .days {
    position: absolute;
    width: 90px;
    height: 80px;
    right: 0px;
    background: #2e325a;
    border-radius: 0px 0px 0px 32px;
    display: flex;
    align-items: center;

    p {
      height: 17px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      margin: 0 auto;
    }
  }

  .bottomBlock {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 63px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto;
      color: #ffffff;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    height: 207px;

    img {
      width: 100%;
      height: 207px;
    }

    &:hover {
      box-shadow: none;
    }

    .days {
      width: 74px;
      height: 60px;

      p {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
      }
    }

    .bottomBlock {
      height: 43px;
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 758px) {
  .wrapper {
    width: 327px;

    img {
      width: 327px;
    }
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
    filter: none;

    img {
      width: 100%;
    }
  }
}
