.title_block {
  background-color: #efefef;
  padding: 40px 62px;
  padding-top: 3%;
  border: 2px solid #C3C3C3;
  .container {
    width: 95%;
    margin: 0 auto;
    background-color: #EFEFEF;
    .title {
      position: absolute;
      width: 95%;
      height: 0px;
      left: 32px;
      margin-top: 47px;
    }
    .text {
      div {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        color: #757575;
        text-align: left;
        width: 95%;
        height: 144px;
        padding: 0 0 0 26px;
        margin-top: 57px;
        position: absolute;
    .line {
      margin-bottom: 1%;
        p {
          margin-left: 1%;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 36px;
          color: #757575;
        }
      }
    }
  }
