.title_block {
  background-color: #efefef;
  padding: 40px 62px;
  padding-top: 3%;
  border: 2px solid #C3C3C3;
  .container {
    width: 95%;
    margin: 0 auto;
    .line {
      margin-bottom: 1%;
        p {
          margin-left: 1%;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 36px;
          color: #757575;
        }
      }
    }
  }
