.sights {
  padding: 40px 0px;
  background-color: #efefef;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);

  .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 10px;
  }
}
@media (max-width:375px) , (max-width:1200px){
  .sights{
    .cards{
      padding: 0;
      width: 95%;
      margin: 0 auto;
      margin-top: 25px;
      overflow: auto;
    }
    ::-webkit-scrollbar {
      width: 0;
    }
  }
}
@media (max-width: 768px) {
    .cards{
      width: 95%;
      margin:  0 auto;
    }
}

@media (max-width: 576px) {
  .cards{
    width: 85%;
    margin:  0 auto;
  }
}

