.sights {
  padding: 40px 32px;
  background-color: #efefef;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  @include breackpoint (sm){
    padding: 30px 24px;
  }

  .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 10px;
  }
}
@media (max-width:576px) {
  .cards{
    margin-top: 20px;
  }
}