.wrapper {
  background-color: #8389c9;
  width: 100%;
  height: 650px;
  margin-top: 30px;
  padding-top: 50px;
  @media (max-width: 950px) {
    height: 850px;
  }
  @media (max-width: 650px) {
    height: 800px;
  }
  .content {
    width: 70%;
    height: fit-content;
    background-color: white;
    margin: 0 auto;
    padding: 40px 60px 65px 60px;
    @media (max-width: 1150px) {
      width: 85%;
    }
    @media (max-width: 1000px) {
      width: 90%;
    }
    @media (max-width: 650px) {
      padding: 20px 30px 35px 30px;
    }
    @media (max-width: 525px) {
      padding: 20px 30px 35px 30px;
    }
    @media (max-width: 376px) {
      padding: 10px 20px 25px 20px;
    }
    .textWrapper {
      border-bottom: 2px solid #c3c3c3;
      padding-bottom: 15px;

      h1 {
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: calc(1.5vh + 1.5vw);
        line-height: 39px;
        color: #adadad;
        @media (max-width: 525px) {
          font-size: calc(2vh + 2vw);
        }
        @media (max-width: 376px) {
          font-size: calc(1.8vh + 1.8vw);
        }
      }
    }
  }
  .number_index_wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    @media (max-width: 950px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .number_index_left_content,
    .number_index_right_content {
      background: #ffffff;
      border: 1px solid #adadad;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 74px;
      @media (max-width: 950px) {
        padding: 30px 24px;
      }
      .number_index_left_top_content,
      .number_index_right_bottom_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #c3c3c3;
        width: 80%;
        @media (max-width: 376px) {
          padding-bottom: 5px;
        }
        > p {
          font-style: normal;
          font-weight: 600;
          font-size: calc(1vh + 1vw);
          line-height: 22px;
          text-align: center;
          color: #474747;
          @media (max-width: 525px) {
            font-size: calc(1.5vh + 1.5vw);
          }
          @media (max-width: 376px) {
            font-size: calc(1.2vh + 1.2vw);
          }
        }
      }
      .number_index_bottom_left_content,
      .number_index_bottom_right_content {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 0.4fr 3fr 0.4fr;
        grid-gap: 11px;
        button {
          background: #8389c9;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          height: 47px;
          width: 47px;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        > div {
          background: #ffffff;
          border: 1px solid #c3c3c3;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          height: 47px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .multistepButtons {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    grid-gap: 32px;
    @media (max-width: 1150px) {
      width: 85%;
    }
    @media (max-width: 1000px) {
      width: 90%;
    }
    button {
      height: 61px;
      background: #ffffff;
      border: 1px solid #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      grid-gap: 20px;
      &:first-child {
        color: #adadad;
      }
      &:last-child {
        color: #8389c9;
      }
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
  }
}
.minus {
  height: 2px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
}
.plus {
  height: 2px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    transform: rotate(90deg);
    height: 2px;
    border-radius: 10px;
    width: 100%;
    right: 0;
    background-color: white;
  }
}
