@import "../../../styles/variables.scss";

.wrapper {
  width: 100%;
  margin-right: 15px;
  gap: 35px;
  display: flex;
  transition: width 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);

  .inactive_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $filter-text;
    margin-top: 20px;
    cursor: pointer;
    position: relative;

    &:hover {
      &::before {
        width: 100%;
        left: 100;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      width: 0;
      right: 0;
      height: 1px;
      border-radius: 8px;
    }
  }

  p:hover {
    color: $active-text;

    &:hover {
      &::before {
        width: 100%;
        left: 100;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 21.5px;
      width: 0;
      right: 0;
      z-index: 10;
      height: 2px;
    }

    &::before {
      transition: width 0.2s cubic-bezier(0.51, 0.18, 0, 0.88);
      background: black;
      left: 0;
    }
  }
}

.active_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $active-text;
  margin-top: 20px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 21.5px;
    width: 100%;
    z-index: 11;
    height: 2px;
    background: black;
  }
}