.wrapper{
    background: white;
    padding: 40px 0;
    .header{
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #474747;
    }
    
}