.wrapper{
    width: 100%;
    height: auto;
    background: white;
    margin: 70px 0;
    padding: 0 32px;
    .header{
        width: 97%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #474747;
    }
    
}