.label ,.labelBack{
  display: flex;
  align-items: center;
  margin: 14px 15px;
  height: 17px;
  cursor: pointer;
  width: 100%;
  .span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    
  }

  .input {
    height: 20px;
    width: 20px;
    border: 1px solid #333333;
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .inputSome {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #333333;
      .checkedSome {
        background: #333333;
      }
    }
    .inputOne {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #2e325a;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .checkedOne {
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        width: 6px;
        height: 4px;
        margin-bottom: 2px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
  }
}

@media (min-width:900px),(max-width:1100px){
  .label,.labelBack{
    .span{
      font-size: 12px;
    }
  }
}



@media (max-width:900px) {
  .label{
    justify-content: center;
    width: 45%;
    height: auto;
    padding: 10px 0;
    border: 1px solid #828282;
    margin: 14px 0;
    padding: 10px;
    .input{
      display: none;
    }
    .span{
      text-align: center;
    }
  }
  .labelBack{
    justify-content: center;
    width: 45%;
    height: auto;
    padding: 10px 0;
    border: 1px solid #828282;
    background: #2E325A;
    margin: 14px 0;
    padding: 10px;
    .input{
      display: none;
    }
    .span{
      text-align: center;
      color:#ffffff
    }
  }

}

@media (max-width:375px) {
  .label,.labelBack{
    .span{
      font-size: 10px;
    }
  }
}
