.label {
    display: flex;
    align-items: center;
    margin: 14px 15px;
    height: 17px;
    cursor: pointer;
    width: 100%;
  
    .span {
      font-size: 13px;
    }
  
    .input {
      height: 22px;
      width:8%;
      border: 1px solid #333333;
      margin-right: 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .inputBD {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background: #333333;;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        .checkedD {
          background: #333333;
        }
      }
      .inputB {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background: #2E325A;;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        .checked {
          border-top: 1px solid #FFFFFF;;
          border-right: 1px solid #FFFFFF;;
          width: 8px;
          height: 5px;
          margin-bottom: 2px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }
    .inputW {
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: white;
      position: absolute;
    }
  }
  