.content {
  margin-bottom: 5%;
  margin-top: 3%;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 31px;
    margin-top: 3%;
    @media (max-width: 768px) {
    grid-gap: 14px;
    padding: 25px;

    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 25px;
    }
  }
}

@media (max-width: 912px) {
  .forAdaptive {
    display: none;
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: 0;
    .containerDivider {
      padding: 10px 0 18px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
