.wrapper {
  width: 100%;
  height: 100%;
  padding: 32px 0px;

  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .button {
    width: 100%;
    height: 45px;
    margin-top: 30px;
    background: #2e325a;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 30px 0;

    ::-webkit-scrollbar {
      width: 0;
    }

    .card_container {
      flex-wrap: nowrap;
      gap: 20px;
      overflow-x: scroll;
      padding: 5px 3px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .card_container {
      padding: 5px 24px;
    }

    .button {
      width: 94%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding: 0;
    .mainCardContainer {
      margin-top: 35px;
      background: #efefef;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
      padding-bottom: 30px;

      .card_container {
        flex-wrap: wrap;
        overflow-x: none;
        padding: 30px 24px 10px 24px;
        justify-content: center;
      }

      .button {
        width: 86%;
        margin: 0 auto;
      }
    }
  }
}
