.accordionHeader {
  width: 100%;
  left: 32px;
  margin-bottom: 15px;
  margin: 0 auto 15px auto;
  @media (max-width: 768px) {
    width: 93.5%;
  }
  @media (max-width: 600px) {
    width: 92%;
  }
  @media (max-width: 450px) {
    width: 90%;
  }

  .accordion {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    .accordionTitleMain h3 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
      @media (max-width: 450px) {
        font-size: 14px;
      }
    }
  }
}

#accordionContentMain {
  padding: 30px 30px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  animation: 1s show ease;
  margin: 0 auto 30px auto;
  @media (max-width: 768px) {
    width: 93.5%;
  }
  @media (max-width: 600px) {
    width: 92%;
  }
  @media (max-width: 450px) {
    width: 90%;
  }
  p {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #757575;
  }

  .accordionImg {
    margin: 20px 0;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    grid-gap: 15px;
    img {
      object-fit: cover;
      width: 500px;
      height: 250px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .line {
    border: 1px solid #c3c3c3;
  }

  .shortDescItinerary {
    margin: 20px 0;

    .facts {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
      line-height: 36px;
      color: #757575;
      margin-bottom: 10px;
    }

    .overnight {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 16px;
      line-height: 36px;
      color: #757575;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
