.wrapper {
    width: 230px;
    height: 49px;
    background: #8389C9;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}