.wrapper {
  // width: calc(33.3% - 20px);
  width: 100%;
  height: 283px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
  }
  .travelVideo{
    width: 100%;
    height: 100%;
  }
  .iVideo{
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
  }
.unvisibleBlock{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
  .playBtn {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 37%;
    left: 41%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);

    img {
      position: absolute;
      top: 38%;
      left: 41%;
    }
  }

  .bottomBlock {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 63px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto;
      color: #ffffff;
    }

    .title {
      position: absolute;
      left: 25px;
    }

    .date {
      position: absolute;
      right: 25px;
    }
  }
}

.active {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 10000;
  left: 0;
  transition: ease 0.2s;
  opacity: 1;
  .close {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
  }
  .video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 60vh;
    border: none;
  }
}
