.select{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    height: 63px;
    padding: 0 2%;
    margin: 20px 0;
    .text{
        height: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        width: 51%;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    
    .arrowDown{
        border-top: 2px solid #757575;
        border-right: 2px solid #757575;
        width: 8px;
        margin-left: 10px;
        height: 8px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    

}
.map{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    width: 97%;
    animation: 1s show ease;
    padding: 30px 0;
    padding-left: 2%;
    img{
        height: 376px;
        width: 780px;
    }
}
.photo{
    height: 378px;
    width: 782px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

@keyframes show {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

