.title_block {
    background-color: #fff;
    .container{
      width: 95%;
      margin: 0 auto;
    }
    .text {
      div {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 33px;
        color: #757575;
        text-align: left;
        left: 26px;
      }
    }
  }
  .title_mark {
    display: flex;
    align-items: center;
    p {
        padding: 10px;
    }
  }