@import "../../../styles/globalVariables.scss";

.title_block {
  background-color: #efefef;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 0;
  .text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #474747;
    text-align: left;
  }
}
.title_mark {
  display: flex;
  align-items: flex-start;
  li {
    margin-top: 10px;
  }
  p {
    padding-left: 5px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
    .title_block{
      padding: 0;
      .text{
        padding: 20px 24px 0px 24px;
      }
    }
}