@import "../../../styles/globalVariables.scss";

.content {
  background-color: #efefef;
  height: 100%;
  border: 2px solid #c3c3c3;
  padding: 40px 0px;
  @include breackpoint(xs) {
    padding: 0;
  }
  .text {
    @include breackpoint(xs) {
      padding: 24px;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    .line {
      margin-bottom: 1%;
      @include breackpoint(xs) {
        margin-bottom: 25px;
      }
      .img {
        display: flex;
        align-items: center;
        @include breackpoint(xs) {
          align-items: flex-start;
          gap: 15px;
          img {
            margin-top: 4px;
          }
        }
        p {
          margin-left: 1%;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 33px;
          color: #757575;
          @include breackpoint(xs) {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #757575;
          }
        }
      }
    }
  }
}
