.content {
  background-color: #efefef;
  height: 100%;
  border: 2px solid #C3C3C3;
  padding-top: 3%;
  .container {
    width: 95%;
    margin: 0 auto;
    .line {
      margin-bottom: 1%;
      .img {
        display: flex;
        align-items: center;
        p {
          margin-left: 1%;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 33px;
          color: #757575;
        }
      }
    }
  }
}
