.label{
    display: flex;
    align-items: center;
    margin: 20px 0 15px 20px;
    height: 17px;
    cursor: pointer;  

    .span{
        width: 200px;
        height: 17px;
        left: 84px;
        top: 953px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        
        
        color: #333333;
        margin: 1px 7px;
    }

    

    .input{
        height: 22px;
        width: 22px;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .inputB{
            height: 14px;
            width: 14px;
            border: 1px solid black;
            border-radius: 50%;
            background: black;
            position: absolute;
        }
        .inputW{
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background: white;
            position: absolute;
        }
    }


    
}