@import "../../../styles/variables.scss";

.wrapper {
  width: 100%;
  background: $bg-gray;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 0px;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}
