.content {
  background-color: #efefef;
  border: 2px solid #C3C3C3;
  padding: 40px 40px;
  padding-top: 3%;
  .title_block {
    width: 100%;
    margin: 0 auto;
    .line {
      margin-bottom: 1%;
      .title_mark {
        display: flex;
        align-items: center;
        p {
          margin-left: 15px;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 33px;
          color: #757575;
        }
      }
    }
  }
}
