$white: #FFFFFF;
$bg-gray: #EFEFEF; //background for sights section and our team block
$filter-text: #B1B1B1; //text color for tour filter component
$active-text: #2E325A; //active color for tour filter component
$divider-title: #C3C3C3; // light color for divider's title
$active-title: #474747; //dark color for divider's title & feedback section title
$subtitle-divider: #B1B1B1; // color for divivder's subtitle
$feedback-1: #767676; // for feedback's main text
$feedback-2: #707070; // for feedback's subtitle (country)
$divider-line: #C3C3C3; // color for divider's line
$team-title: #333333; //for team block's title & footer's subtitle
$team-subtitle: #6F6F6F; // for team block's subtitle
$footer-text: #6F6F6F; // color for footer's main text
