.option {
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background: white;
  height: auto;
  padding: 10px 0;
  animation: 1s show ease;
  .header,
  .footer {
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .option {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 999999999999999999;
    background: white;
    left: 0%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 40px 24px;
    .title,
    .header,
    .footer {
      display: initial;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      padding-bottom: 8px;
      cursor: pointer;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #c4c4c4;
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #C3C3C3;
      padding-top: 20px;
      margin-top: 10px;
      .reset,.save {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        background: #ffffff;
        border: 1px solid #828282;
        cursor: pointer;
      }
      .save{
        margin-top: 10px;
        background: #2E325A;
        color: #FFFFFF;
      }
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-between;
    }
  }
}


@media (max-width:375px) {
  .option{
    .header{
      p{
        font-size: 14px;
      }
    }
  }
}