.title_block {
  margin: 3% 0;
  .text {
    div {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #757575;
      margin-top: 3%;
      text-align: left;
      margin-left: 10px;
    }
  }
}
