.wrapper {
  width: 100%;
  height: 100%;
  padding: 32px 0px;
  .btn_more {
    button {
      background: #2e325a;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border: none;
      cursor: pointer;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      padding: 14px;
      width: 100%;
      cursor: pointer;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
  }

  .wrapperCard {
    width: 72%;
    .wrap {
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      grid-gap: 32px;
      margin-bottom: 3%;
    }
    .btn_more {
      transition: ease-in-out 0.4s;

      button {
        background: #2e325a;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border: none;
        cursor: pointer;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        padding: 14px;
        width: 100%;
        cursor: pointer;
      }
    }
    .nonAcBtn_more {
      transition: ease-in-out 0.4s;
      button {
        transition: ease-in-out 0.4s;
        background: #686565;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border: none;
        cursor: pointer;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #d6cbcb;
        padding: 14px;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .rightBlock {
    width: 25%;
    .networksBlock {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 20px;
      height: 168px;
      background: #ffffff;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

      p {
        width: 100%;
        margin: 0 auto;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #333333;
      }

      hr {
        background-color: #ececec;
        height: 2px;
        border-radius: 5px;
        border: none;
      }

      .socialNetworks {
        display: flex;
        justify-content: space-around;

        .network {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          background: #ffffff;
          border: 1px solid #2e325a;
          border-radius: 100px;

          &:hover {
            background: #2e325a;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
            border-radius: 100px;
            img {
              border: 1px solid #ffffff;
              filter: invert(100%);
              border: none;
              -webkit-filter: invert(100%);
            }
          }
        }
      }
    }
  }

  .newsContainer {
    padding: 20px;
    margin-top: 25px;
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

    .title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #333333;
    }

    hr {
      background-color: #ececec;
      height: 2px;
      border-radius: 5px;
      border: none;
      margin: 15px 0px 20px;
    }

    .newsTitle {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #333333;

      &:hover {
        color: #b50000;
      }
    }

    .date {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #757575;
    }

    .cardContainer {
      height: 85%;
      display: flex;
      flex-direction: column;
    }

    .newsCard {
      cursor: pointer;
      margin-bottom: 9%;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    .container {
      .wrapperCard {
        .wrap {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .rightBlock {
        .networksBlock {
          p {
            font-size: 19px;
          }
        }
      }
    }
  }
}
@media (max-width: 1112px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .newsTitle {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media (max-width: 1075px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 1045px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .newsTitle {
            font-size: 12px;
          }
          .date {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 1028px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 17px;
          }
        }
      }
    }
  }
}
@media (max-width: 980px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 16px;
          }
          .network {
            width: 40px;
            height: 40px;
          }
        }
        .newsContainer {
          .newsTitle {
            font-size: 11px;
          }
        }
      }
    }
  }
}
@media (max-width: 932px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 909px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .newsTitle {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 842px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .newsTitle {
            font-size: 9px;
          }
        }
      }
    }
  }
}
@media (max-width: 775px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .newsTitle {
            font-size: 8px;
          }
        }
      }
    }
  }
}
@media (max-width: 885px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 14px;
          }
          .network {
            width: 36px;
            height: 36px;
          }
        }
      }
    }
  }
}
@media (max-width: 837px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 13px;
          }
          .network {
            width: 34px;
            height: 34px;
          }
        }
      }
    }
  }
}
@media (max-width: 789px) {
  .wrapper {
    .container {
      .rightBlock {
        .networksBlock {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    .container {
      margin-top: 31px;
      padding: 30px 20px 30px 24px;
      flex-direction: column;
      .wrapperCard {
        width: 100%;
        .wrap {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .rightBlock {
        width: 100%;
        margin-top: 20px;
        .newsContainer {
          .title {
            font-size: 28px;
          }
          .newsTitle {
            font-size: 20px;
          }
          .date {
            font-size: 18px;
            padding-top: 10px;
          }
        }
        .networksBlock {
          p {
            font-size: 20px;
          }
          .network {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .wrapper {
    .btn_more {
      display: none;
    }
    .container {
      background: #efefef;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
      flex-direction: column;
      .wrapperCard {
        .wrap {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
@media (max-width: 410px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .title {
            font-size: 23px;
          }
          .newsTitle {
            font-size: 17px;
          }
          .date {
            font-size: 15px;
            padding-top: 10px;
          }
        }
        .networksBlock {
          p {
            font-size: 20px;
          }
          .network {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .newsTitle {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 325px) {
  .wrapper {
    .container {
      .rightBlock {
        .newsContainer {
          .title {
            font-size: 20px;
          }
          .newsTitle {
            font-size: 13px;
          }
          .date {
            font-size: 10px;
            padding-top: 5px;
          }
        }
        .networksBlock {
          p {
            font-size: 20px;
          }
          .network {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}
